body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin-top: 20px
}

.list-group-item {
	padding: .25rem 1.25rem;
}

.name {
  min-width: 120px;
  display: inline-block;
}

.navbar-inverse .navbar-brand {
  color: #00d8ff;
}